<ion-header>
  
</ion-header>

<ion-content padding>

   
      <div class="container form-box">
        

        <strong class="capitalize">Wie fühlst du dich heute?</strong>
    
        <p><ion-button color="secondary" shape="round" fill="outline"  expand="block" [routerLink]="['/home']"><div class="white">Sehr gut</div></ion-button></p>
        <p><ion-button color="secondary" shape="round" fill="outline"  expand="block" [routerLink]="['/home']"><div class="white">Gut</div></ion-button></p>
        <p><ion-button color="secondary" shape="round" fill="outline"  expand="block" [routerLink]="['/home']"><div class="white">Okay</div></ion-button></p>
        <p><ion-button color="secondary" shape="round" fill="outline"  expand="block" [routerLink]="['/home']"><div class="white">Schlecht</div></ion-button></p>
      </div>
    


</ion-content>