<ion-header>
  
</ion-header>

<ion-content padding>

   
      <div id="container">

        <strong class="capitalize">Wie geht es dir heute?</strong>
    
        <p><ion-button color="secondary" shape="round" expand="block" [routerLink]="['/home']">Sehr gut</ion-button></p>
        <p><ion-button color="secondary" shape="round" expand="block" [routerLink]="['/home']">Gut</ion-button></p>
        <p><ion-button color="secondary" shape="round" expand="block" [routerLink]="['/home']">Nicht so gut</ion-button></p>
      </div>
    


</ion-content>