<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button [routerLink]="[ '/home/tabs/tab1' ]">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Neuer Eintrag
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="form-box">
    <div>
      <ion-item color="tertiary">
        <ion-label position="stacked">Überschrift</ion-label>
        <!-- {{ currentDate | date:'dd.MM.yyyy' }} -->
        <ion-input [(ngModel)]="title" value="Value"></ion-input>
        <ion-input value="{{ currentDate | date:'dd.MM.yyyy' }}"></ion-input>
      </ion-item>
      <ion-item color="tertiary">
        <ion-label position="stacked">Ich bin dankbar für ...</ion-label>
        <ion-textarea [(ngModel)]="content" ></ion-textarea>
      </ion-item>
      <ion-item color="tertiary">
        <ion-label position="stacked">Ich freue mich auf ...</ion-label>
        <ion-textarea [(ngModel)]="content" ></ion-textarea>
      </ion-item>
    </div>
  </div>

  <section>
    <ion-button color="tertiary" (click)="startCreateEntry()">Speichern</ion-button>
    <ion-button color="medium" (click)="goBack()">Abbrechen</ion-button>
  </section>

</ion-content>
