<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="[ '/home/tabs/diary' ]">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Neuer Eintrag
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="stacked">Überschrift</ion-label>
    <!-- {{ currentDate | date:'dd.MM.yyyy' }} -->
    <ion-input value="{{ currentDate | date:'dd.MM.yyyy' }}"></ion-input>
    <ion-input [(ngModel)]="title" value="Value"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Beschreibung</ion-label>
    <ion-textarea [(ngModel)]="content" ></ion-textarea>
  </ion-item>

  <section>
    <ion-button color="success" (click)="startCreateEntry()">Speichern</ion-button>
    <ion-button color="medium" (click)="goBack()">Abbrechen</ion-button>
  </section>

</ion-content>
