<ion-tabs>

  <ion-tab-bar slot="bottom" class="tab-animate" color="primary">

    <ion-tab-button tab="tab1">
      <div class="tab-icon"><img src="../../../assets/icon/icon_diary.png" /></div>
      <ion-label>Schreiben</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <div class="tab-icon"><img src="../../../assets/icon/icon_train.png" /></div>
      <ion-label>Training</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <div class="tab-icon"><img src="../../../assets/icon/icon_discover.png" /></div>
      <ion-label>Entdecken</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <div class="tab-icon"><img src="../../../assets/icon/icon_overview.png" /></div>
      <ion-label>Skills</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>